/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	text-shadow: 1px 1px 2px rgb(43, 42, 42);
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/

.paticka p {
	text-shadow: none;
}

h1,
h2 {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	margin: 0;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 18px;
}

p {
	margin: 0;
}

.hlavni {
	background-image: url(images/salat.jpg), linear-gradient(to left, rgba(3, 3, 3, 0.5));
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 200px;
	padding: 10px;
	border: 1px solid white;
	
}

.salaty {
	display: flex;
	justify-content: space-between;
}

.maly1 {
	background-image: url(images/chlebicek.jpg), linear-gradient(to left, rgba(3, 3, 3, 0.7));
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 90px;
	padding: 10px;
	border: 1px solid white;
}

.svacina {
	display: flex;
	justify-content: space-between;
}

.maly2 {
	background-image: url(images/tacos.jpg), linear-gradient(to left, rgba(3, 3, 3, 0.5));
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 90px;
	padding: 10px;
	border: 1px solid white;
}

.mexicka {
	display: flex;
	justify-content: space-between;
}

.maly3 {
	background-image: url(images/cizrna.jpg), linear-gradient(to left, rgba(3, 3, 3, 0.5));
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 90px;
	padding: 10px;
	border: 1px solid white;
}

.lusteniny {
	display: flex;
	justify-content: space-between;
}

.maly4 {
	background-image: url(images/burger.jpg), linear-gradient(to left, rgba(3, 3, 3, 0.5));
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 90px;
	padding: 10px;
	border: 1px solid white;
}

.burgery {
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 480px) {
	.nabidka {
		display: flex;
		flex-wrap: wrap;
		

	}

	.hlavni {
		flex: 0 0 100%;
		min-height: 250px;
		padding: 20px;
	}

	.malerecepty {
		flex: 1 1 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.maly1,
	.maly2,
	.maly3,
	.maly4 {
		flex: 1 1 50%;
		min-height: 150px;
		padding: 20px;
	}

	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 22px;
	}
	
}


@media screen and (min-width: 860px) {
	.nabidka {
		flex-wrap: nowrap;
	}

	.hlavni {
		flex: 0 0 calc(100% / 3);
		min-height: 400px;
	}



	.malerecepty {
		flex: 0 0 76.666;
		display: flex;
		flex-wrap: wrap;
	}
	.maly1,
	.maly2,
	.maly3,
	.maly4 {
		flex-basis: 50%;
		min-height: 200px;
	}
	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 28px;
	}
}







